/*======================================FONT FACE======================================*/
@font-face{
    font-family: 'Noto Sans';
    src: 
        url('../fonts/NotoSans-Regular.ttf') format('truetype');
    font-weight: 400;
}

@font-face{
    font-family: 'Noto Sans';
    src: 
        url('../fonts/NotoSans-Bold.ttf') format('truetype');
    font-weight: 600;
}

@font-face{
    font-family: 'BBS Reith Sans';
    src: 
        url('../fonts/BBCReithSans_W_Bd.woff') format('woff');
    font-weight: 700;
}


@font-face{
    font-family: 'BBS Reith Sans';
    src: 
        url('../fonts/BBCReithSans_W_Md.woff') format('woff');
    font-weight: 500;
}
/*======================================================================================*/