/*====================================IMPORT CONFIGS====================================*/
@import './configs/reset';
@import './configs/config';
@import './configs/mixin';
/*======================================================================================*/


/*====================================IMPORT MODULES====================================*/
@import './modules/fonts';
@import './modules/vars';
@import './modules/global';
/*======================================================================================*/

/*=======================================REWRITING======================================*/

/*======================================================================================*/


/*====================================HTML COMPONENTS===================================*/
%title{
    font-family: serif;
    font-size: 30px;
    font-weight: 400;
    color: #000;
}

%text{
    font-family: serif;
    font-size: 14px;
    font-weight: 400;
    color: #000;
}

%buttons{
    @include create-button(14, 100, 20);
    color: #FFFFFF;
    font-weight: 400;
}
/*======================================================================================*/


/*==================================IMPORT COMPONENTS===================================*/
@import './components/header';
@import './components/main';
@import './components/footer';
/*======================================================================================*/

/*=======================================BOOTSTRAP======================================*/
@import '../../node_modules/bootstrap/scss/bootstrap.scss';
/*======================================================================================*/