/*====================================IMPORT CONFIGS====================================*/
@import './configs/reset';
@import './configs/config';
@import './configs/mixin';
/*======================================================================================*/


/*====================================IMPORT MODULES====================================*/
@import './fonts';
@import './modules/vars';
@import './modules/global';
/*======================================================================================*/


/*====================================HTML COMPONENTS===================================*/
%title{
    font-family: 'BBS Reith Sans';
    font-size: 20px;
    font-weight: 700;
}

%text{
    font-family: 'Noto Sans';
    font-size: 17px;
    font-weight: 400;
}

%buttons{
    @include create-button(14, 100, 20);
    color: #FFFFFF;
    font-weight: 400;
}

body{
    overflow-x: hidden;
}
/*======================================================================================*/


/*=======================================REWRITING======================================*/
@import './modules/bootstrapCustom';
/*======================================================================================*/



/*==================================IMPORT COMPONENTS===================================*/
@import './components/header';
@import './components/main';
@import './components/footer';
/*======================================================================================*/

/*=======================================BOOTSTRAP======================================*/
@import '../../node_modules/bootstrap/scss/bootstrap.scss';
/*======================================================================================*/