/*======================================FONT FACES======================================*/
@font-face{
    font-family: '';
    src: 
        url('.woff2') format('woff2'),
        url('.woff') format('woff'),
        url('.ttf') format('truetype'),
        url('.otf') format('opentype');
    font-weight: 400;
}
/*======================================================================================*/