/*========================================COLORS========================================*/
$main: #FFFFFF;
/*======================================================================================*/


/*========================================BORDERS=======================================*/
$main-border: 1px solid #FFFFFF;
/*======================================================================================*/


/*========================================SHADOWS=======================================*/
$main-shadow: 0px 0px 10px #FFFFFF;
/*======================================================================================*/


/*=======================================ELEMENTS=======================================*/
$main-element: linear-gradient(0deg, rgba(0, 0, 0, 1), rgba(0, 0, 0, 1));
/*======================================================================================*/