@import '../modules/bootstrapCustom';
/*=====================================TOP SECTION======================================*/
.top{
    position: relative;
    padding-top: 65px;

    &__content{

        &-title{
            @extend %title;
            font-size: 48px;
            color: $blue-light;
            letter-spacing: 2.42px;
        }

        &-title.half{
            font-size: 20px;
        }

        &-desc{
            @extend %text;
            font-weight: 600;
            line-height: 32px;
            max-width: 500px;
            margin-top: 50px;
            color: $black;
        }

        &-desc.second-desc{
            font-weight: 400;
            line-height: 32px;
            max-width: 477px;
            margin-top: 23px;
            color: $gray-700;

            span{
                font-weight: 700;
                color: $black;
            }
        }
        
        &-img.half-img{
            margin-left: 40px;
        }

        &-paragraph{
            &:nth-child(1) {
                padding-bottom: 45px;
            }
        }
    }

    &__content-block.second-block{
        max-width: 477px;
    }
}

.line{
    height: 7px;
    width: 227px;
    background-color: $gray-200;
    margin-top: 52px;
}
/*======================================================================================*/


/*=======================================STANDARTS======================================*/
.standarts{
    background: linear-gradient(180deg, $blue 0%, $blue-dark 100%);

    &__content{

        &-column{
            &:nth-child(1) {
                padding-left: 0 !important;
            }
            &:nth-child(2) {
                padding-right: 0 !important;
            }
        }

        &-title{
            @extend %title;
            line-height: 40px;
            letter-spacing: 2.42px;
            color: #FBFDFF;
            padding-bottom: 14px;
        }

        &-desc{
            @extend %text;
            font-weight: 400;
            line-height: 32px;
            color: #FBFDFF;

            span{
                font-weight: 700;
            }
        }

        &-text:nth-child(1) {
            padding-bottom: 34px;
        }
    }
}
/*======================================================================================*/


/*======================================TEMPERATURE=====================================*/
.temperature{
    padding-top: 90px;
    position: relative;

    &__content{

        &-block{
            max-width: 580px;
        }

        &-title{
            @extend %title;
            line-height: 40px;
            letter-spacing: 2.42px;
            text-transform: uppercase;
            color: $blue-light;
            padding-bottom: 15px;

            p{
                margin-bottom: 0;
            }
        }

        &-info{
            @extend %text;
            color: $gray-700;
            line-height: 32px;
        }

        &-text{
            span{
                color: $black;
                font-weight: 700;
            }

            &:nth-child(1) {
                padding-bottom: 20px;
            }
        }
    }

    &__image{
        position: absolute;
        top: 0;
        right: -20%;
        z-index: -1;
    }
}
/*======================================================================================*/


/*=========================================MAIN=========================================*/

/*======================================================================================*/